*.mp3
*.aac
*.wav
*.jpg
*.log
*.save
config.json
*_log.txt
./tmp*
test.*
*.pyc
*.dtbo

hardware_drivers/Raspberry-Pi-Installer-Scripts

continuous_monitoring_data/
audio/
tmp_data/
tmp_dir/

fs_expanded
